.background-dots {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1;
	box-sizing: border-box;
	overflow: hidden;
}

.dot {
	width: 1px;
	height: 1px;
	background-color: var(--color-lbrown);
	border-radius: 100%;
	position: absolute;
	aspect-ratio: 1 / 1;
}
