:root {
	font-family:
		'Inter',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;

	--color-lgreen: #eef1bd;
	--color-green: #bbd686;
	--color-dgreen: #7a9e4f;
	--color-lbrown: #c4a381;
	--color-brown: #644536;
	--color-dbrown: #251f1a;
	--color-foreground: #ffffff;

	--font-logo:
		'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
		Arial, sans-serif;

	color-scheme: light dark;
	color: var(--color-foreground);
	background-color: var(--color-dbrown);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}

h1 {
	font-size: 3.2em;
	margin: 0;
	line-height: 1.1;
	letter-spacing: -0.05em;
	font-weight: 600;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

p {
	font-size: 1.1em;
	line-height: 1.5;
	font-weight: 500;
	margin: 0;
}

button:focus,
button:focus-visible {
	outline: 6px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #0095ff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.router-container {
	flex: 1;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.content-container {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
	max-width: 100vw;
	overflow-x: hidden;
	position: relative;
}

.link {
	display: inline-block;
	width: fit-content;
	text-decoration: none;
	color: var(--color-green);
	font-weight: 600;
	cursor: pointer;
}

.link:hover {
	/* text-decoration: underline; */
	color: var(--color-lgreen);
}

.link:focus,
.link:focus-visible {
	outline: 6px auto -webkit-focus-ring-color;
}

.btn {
	border-radius: 100px;
	font-weight: 600;
	font-family: inherit;
	cursor: pointer;
	transition: all 0.15s;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	white-space: nowrap;
	flex-direction: row;
}

.btn-lg {
	padding: 0.6em 1.8em;
	font-size: 1rem;
	gap: 8px;
}

.btn-sm {
	padding: 0.4em 1.2em;
	font-size: 0.875rem;
	gap: 6px;
}

.btn:hover {
	text-decoration: none !important;
}

.btn:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.btn:focus,
.btn:focus-visible {
	outline: 6px auto -webkit-focus-ring-color;
}

.btn-green {
	background-color: var(--color-green);
	color: var(--color-dbrown);
}

.btn-green:hover {
	background-color: var(--color-lgreen);
	color: var(--color-dbrown);
}

.btn-outline {
	border-color: var(--color-green);
	color: var(--color-green);
	background-color: transparent;
}

.btn-outline:hover {
	background-color: var(--color-lgreen);
	color: var(--color-dbrown);
	border-color: var(--color-lgreen);
}

.btn-redbrown {
	background-color: var(--color-redbrown);
	color: var(--color-dbrown);
}

.btn-redbrown:hover {
	background-color: var(--color-lbrown);
	color: var(--color-dbrown);
}

.btn-lgreen {
	background-color: var(--color-lgreen);
	color: var(--color-brown);
}

.btn-lgreen:hover {
	background-color: white;
	color: var(--color-dbrown);
}

.btn-brown {
	background-color: var(--color-brown);
	color: var(--color-lgreen);
}

.btn-brown:hover {
	background-color: var(--color-dbrown);
	color: var(--color-lgreen);
}

.page {
	margin-top: 78px;
	width: 100%;
	box-sizing: border-box;
	flex: 1;
}

input,
select {
	width: 100%;
	padding: 8px 16px;
	border: 2px solid var(--color-lbrown);
	border-radius: 50px;
	font-size: 1em;
	background-color: var(--color-dbrown);
	color: var(--color-lgreen);
	transition: all 0.15s;
	box-sizing: border-box;
	font-weight: 550;
	caret-color: var(--color-lgreen);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
	border-color: var(--color-green);
	background-color: var(--color-brown);
	outline: none;
}

input::placeholder,
select::placeholder {
	color: var(--color-lbrown);
	font-weight: 500;
	opacity: 0.8;
}

input:hover,
select:hover {
	border-color: var(--color-green);
}

.centered-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	box-sizing: border-box;
}
