.main-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 2.5em;
	font-weight: 500;
	color: var(--color-lgreen);
}

.the-zoo-text {
	font-size: 4em;
	font-weight: 700;
	color: var(--color-green);
	margin-bottom: 20px;
	letter-spacing: -0.05em;
	font-family: var(--font-logo);
	background-color: var(--color-brown);
	padding: 10px 20px;
	border-radius: 15px;
	margin-top: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-subtext {
	font-size: 1.5em;
	color: var(--color-lbrown);
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 400px;
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
	width: 300px;
	align-items: center;
	justify-content: center;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.pwd-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.show-pwd-btn {
	background: var(--color-brown);
	border-radius: 5px;
	border: none;
	color: var(--color-green);
	cursor: pointer;
	font-weight: 600;
	padding: 3px 10px;
}

.show-pwd-btn:hover {
	filter: brightness(1.25);
}

.show-pwd-btn:focus,
.show-pwd-btn:focus-visible {
	outline: none;
}

.error-message {
	color: red;
	font-weight: 600;
	margin-top: 10px;
	font-style: italic;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-lbrown);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.home-button:hover {
    color: var(--color-green);
}
