.user-menu-container {
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 10;
	font-family: inherit;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: max-content;
}

.logo-container {
	position: fixed;
	top: 2rem;
	left: 2rem;
	z-index: 10;
	font-family: inherit;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: max-content;
}

.topmenu-logo-text {
	color: var(--color-green);
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0;
	background-color: var(--color-brown);
	padding: 0.2rem 0.5rem;
	border-radius: 8px;
	transition: all 0.15s ease;
}

.topmenu-logo-text:hover {
	color: var(--color-lgreen);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.topmenu-logo:hover {
	text-decoration: none;
}

.user-menu {
	position: relative;
	display: inline-block;
}

.user-menu-button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
	color: var(--color-lgreen);
	cursor: pointer;
	width: max-content;
}

.user-menu-button:hover {
	color: var(--color-green);
}

.user-menu-button:focus {
	outline: none;
	white-space: nowrap;
}

.user-menu ul {
	position: absolute;
	width: 100%;
	top: 120%;
	left: 0;
	background-color: var(--color-brown);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	list-style: none;
	padding: 0;
	margin: 0;
	border-radius: 10px;
	overflow: hidden;
}

.user-menu ul a {
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: var(--color-lgreen) !important;
	transition: all 0.15s ease;
	will-change: background-color, color;
	font-size: 1rem;
	font-weight: 400;
	font-family: inherit;
}

.user-menu ul a:first-child {
	border-radius: 10px 10px 0 0;
}

.user-menu ul a:last-child {
	border-radius: 0 0 10px 10px;
}

.user-menu ul a:hover {
	background-color: var(--color-dgreen);
	color: var(--color-lgreen);
	text-decoration: none;
}

.user-menu ul a {
	text-decoration: none;
	color: inherit;
	display: block;
}

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dgreen);
	color: var(--color-lgreen);
	font-weight: bolder;
	font-size: 1rem;
	text-transform: uppercase;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-10px);
	}
}

.user-menu.open ul {
	animation: fadeIn 0.2s ease forwards;
}

.user-menu.closed ul {
	animation: fadeOut 0.2s ease forwards;
}

.user-menu-link {
	text-decoration: none;
	color: inherit;
	display: block;
	width: 100%;
	height: 100%;
}

.shopping-cart-btn {
	font-family: inherit;
}

.shopping-cart-btn:hover {
	text-decoration: none;
}
